* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;

	body {
		width: 100vw;
		height: 90vh;
		margin: 5vh auto;
		.wrapper {
			display: flex;
			justify-content: center;
			align-items: center;
			flex-direction: column;
			label {
				text-align: center;
				font-size: 30px;
				line-height: 60px;
				font-family: 'Montserrat', serif;
				color: white;
				background: linear-gradient(145deg, #0d64f0, #168bcf, #8f29ca);
				height: 60px;
				width: 100vw;
			}
			.header {
				display: flex;
				flex-direction: row;
				justify-content: space-evenly;
				align-items: center;
				flex-wrap: wrap;
				.card {
					border: 1px solid rgb(138, 138, 138);
					border-radius: 10px;
					margin: 5vh 5px;
					height: 250px;
					width: 170px;
					text-align: center;
					line-height: 250px;
					transition: transform 0.75s, background-color 2s;
					cursor: pointer;
				}
				.card:hover {
					background-color: rgb(131, 251, 177);
					transform: rotateX(180deg);
				}
			}
			.bar {
				display: flex;
				border: none;
				padding: 10px 20px;
				width: 100%;
				justify-content: center;
				align-items: center;
				.btn {
					margin: 0 60px;
					padding: 2px 5px;
					width: 60px;
					height: 30px;
					transition: border 0.3s;
					border: 3px solid rgb(142, 142, 142);
					background-color: rgb(202, 202, 202);
					cursor: pointer;
				}
				.btn:hover {
					border: 3px solid #0de289;
				}
				.on {
					border: 3px solid #0de289;
					background-color: #0de289;
				}
				.off {
					border: 3px solid #000;
					background-color: #f1bac3;
				}
			}
			.clear {
				margin-top: 10vh;
				width: 300px;
				padding: 10px 20px;
				font-size: 1.2rem;
				border: none;
				cursor: pointer;
				background-color: #5283d1;
				visibility: hidden;
				span {
					color: white;
				}
			}
		}
	}

	@media screen and (max-width: 560px) {
		body {
			.wrapper {
				label {
					font-size: 25px;
				}
				.header {
					.card {
						height: 180px;
						width: 110px;
						line-height: 180px;
					}
				}
				.bar {
					display: flex;
					border: none;
					padding: 10px 20px;
					width: 100%;
					justify-content: center;
					align-items: center;
					background-color: rgb(255, 166, 0);

					.btn {
						margin: 0 30px;
						padding: 2px 5px;
						min-width: 60px;
						height: 30px;
						transition: border 0.5s;
						cursor: pointer;
					}
					.btn:hover {
						border: 2px solid rgb(13, 226, 137);
					}
				}
			}
		}
	}
	@media screen and (max-width: 360px) {
		body {
			.wrapper {
				label {
					font-size: 20px;
				}
				.header {
					display: flex;
					flex-direction: row;
					justify-content: space-evenly;
					align-items: center;
					flex-wrap: wrap;
					.card {
						width: 90px;
					}
				}
				.bar {
					display: flex;
					border: none;
					padding: 10px 20px;
					width: 100%;
					justify-content: center;
					align-items: center;
					background-color: rgb(255, 38, 0);

					.btn {
						margin: 0 30px;
						padding: 2px 5px;
						min-width: 40px;
						height: 30px;
						transition: border 0.5s;
						cursor: pointer;
					}
					.btn:hover {
						border: 2px solid rgb(13, 226, 137);
					}
				}
			}
		}
	}
	@media screen and (max-width: 300px) {
		body {
			.wrapper {
				label {
					font-size: 18px;
				}
				.header {
					.card {
						height: 130px;
						width: 70px;
						line-height: 130px;
					}
					.card:hover {
						background-color: rgb(131, 251, 177);
						transform: rotateX(180deg);
					}
				}
				.bar {
					border: none;
					padding: 10px 20px;
					width: 100%;
					background-color: rgb(25, 0, 255);
					.btn {
						margin: 0 10px;
						padding: 2px 5px;
						max-width: 30px;
						height: 20px;
						transition: border 0.5s;
						cursor: pointer;
					}
					.btn:hover {
						border: 2px solid rgb(13, 226, 137);
					}
				}
			}
		}
	}
	@media screen and (max-width: 250px) {
		display: none;
	}
}

// @media screen and (min-width: 30em) and (orientation: landscape) { ... }
