* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;

	body {
		width: 100vw;
		height: 90vh;
		margin: 5vh auto;
		.wrapper {
			display: flex;
			justify-content: center;
			align-items: center;
			flex-direction: column;
			label {
				z-index: 2;
				text-align: center;
				font-size: 30px;
				line-height: 60px;
				font-family: 'Montserrat', serif;
				color: white;
				background: linear-gradient(145deg, #0d64f0, #168bcf, #8f29ca);
				height: 60px;
				width: 100vw;
			}
			.header {
				display: flex;
				flex-direction: row;
				justify-content: space-evenly;
				align-items: center;
				flex-wrap: nowrap;
				.img {
					z-index: 0;
					border: 1px solid rgb(255, 255, 255);
					border-radius: 10px;
					margin: 5vh 5px;
					height: 250px;
					width: 170px;
					text-align: center;
					line-height: 250px;
					visibility: hidden;
				}
				.cardActive {
					border: none;
					visibility: visible;
				}
				.layer {
					position: absolute;
					display: flex;
					.cardLayer {
						z-index: 1;
						border: 1px solid rgb(153, 153, 153);
						background-color: rgba($color: #ffffff, $alpha: 1);
						border-radius: 10px;
						margin: 5vh 5px;
						height: 250px;
						width: 170px;
						text-align: center;
						line-height: 250px;
						transition: transform 1s;
					}
					.cardLayer:hover {
						box-shadow: 0 0 2px 2px rgb(153, 153, 153);
					}
					.moveCard {
						transform: translateY(-110%);
					}
				}
			}
			.bar {
				display: flex;
				border: none;
				width: 540px;
				justify-content: center;
				align-items: center;
				.btn {
					margin: 0 auto;

					padding: 2px 5px;
					width: 60px;
					height: 30px;
					border-radius: 20px;
					transition: border 0.3s;
					border: 3px solid rgb(142, 142, 142);
					background-color: rgb(202, 202, 202);
					cursor: pointer;
				}
				.btn:hover {
					border: 3px solid #0de289;
				}
				.on {
					border: 3px solid #0de289;
					background-color: #0de289;
				}
				.off {
					border: 3px solid #f1bac3;
					background-color: #f1bac3;
				}
			}
			.activeGame {
				display: flex;
				justify-content: center;
				flex-direction: column;
				align-items: center;
				.btnActive {
					width: 200px;
					margin: 5vh 10px 0;
					padding: 10px 20px;
					font-size: 1.2rem;
					border: none;
					cursor: pointer;
				}
				.start {
					background-color: #05c35b;
					visibility: hidden;
					span {
						color: white;
					}
				}
				.clear {
					background-color: #5283d1;
					visibility: hidden;
					margin-bottom: 5vh;
					span {
						color: white;
					}
				}
			}
		}
	}

	@media screen and (max-width: 560px) {
		body {
			.wrapper {
				label {
					font-size: 25px;
				}
				.header {
					.img {
						height: 180px;
						width: 110px;
						line-height: 180px;
					}
					.cardActive {
						border: none;
						visibility: visible;
					}
					.layer {
						.cardLayer {
							height: 180px;
							width: 110px;
							line-height: 180px;
							transition: transform 1s;
						}
					}
				}
				.bar {
					width: 360px;
					.btn {
						min-width: 60px;
						height: 30px;
					}
				}
				.activeGame {
					.btnActive {
						width: 150px;
					}
				}
			}
		}
	}
	@media screen and (max-width: 360px) {
		body {
			.wrapper {
				label {
					font-size: 20px;
				}
				.header {
					.img {
						width: 90px;
					}
					.layer {
						.cardLayer {
							height: 180px;
							width: 90px;
							line-height: 180px;
							transition: transform 1s;
						}
					}
				}
				.bar {
					width: 300px;
					.btn {
						min-width: 40px;
						height: 30px;
					}
				}
				.activeGame {
					.btnActive {
						width: 100px;
						padding: 5px 10px;
						font-size: 1rem;
					}
				}
			}
		}
	}
	@media screen and (max-width: 300px) {
		body {
			.wrapper {
				label {
					font-size: 14px;
				}
				.header {
					.img {
						height: 130px;
						width: 70px;
						line-height: 130px;
					}
					.layer {
						.cardLayer {
							height: 130px;
							width: 70px;
							line-height: 130px;
							transition: transform 1s;
						}
					}
				}
				.bar {
					width: 240px;
					.btn {
						max-width: 30px;
						height: 20px;
					}
				}
				.activeGame {
					.btnActive {
						width: 100px;
						padding: 2px 5px;
						font-size: 0.8rem;
					}
				}
			}
		}
	}
	@media screen and (max-width: 250px) {
		display: none;
	}
}

// @media screen and (min-width: 30em) and (orientation: landscape) { ... }
